{% extends "base.html" %}
{% load static %}




{% block title %}My Blogs{% endblock %}


{% block styles %}
    <link rel="stylesheet" href="{% static "blog/post.css" %}">
    <link rel="stylesheet" href="{% static "blog/index.css" %}">
{% endblock styles %}

{% block body %}
    
    <section id="welcome">
        <header>
            <img src="{% static "blog\images\me.jpeg" %}" alt="Mayank -The Author of this blog">
            <h2>MAYANK'S BLOG</h2>
        </header>
        <p>
            Hi, I am Mayank and I am no a great journey of learning.
            This is jsut starting!!!
        </p>
    </section>
    <section id = "latest-posts">
        <h2>My Lastest Thoughts</h2>
        <ul>
            {% include "blog/includes/post.html" %}
        </ul>
    </section>
    <section id="about">
        <h2>What I Do?</h2>
        <p>
            I love programming, I love to explore new technologies and I am on a great learning journey!!
        </p>
        <p>
            My goal is to get so good at what I love that I can find my occupation at that.
        </p>
    </section>
{% endblock %}
