{% extends "base.html" %}
{% load static %}




{% block title %}My Blogs{% endblock %}


{% block styles %}
    <link rel="stylesheet" href="{% static "blog/index.css" %}">
{% endblock styles %}

{% block body %}
    <header id = "main-navigation">
        <h1>
            <a href="">Mayank Blog</a>
        </h1>
        <nav>
            <a href="">All Posts</a>
        </nav>
    </header>
    <section id="welcome">
        <header>
            <img src="{% static "blog\images\me.jpeg" %}" alt="Mayank -The Author of this blog">
            <h2>MAYANK'S BLOG</h2>
        </header>
        <p>
            Hi, I am Mayank and I am no a great journey of learning.
            This is jsut starting!!!
        </p>
    </section>
    <section id = "latest-posts">
        <h2>My Lastest Thoughts</h2>
        <ul>
            <li>
                <article class = "post">
                    <a href="">
                        <img src="{% static "blog\images\mountains.jpg" %}" alt="Mountian Hiking">
                        <div class = "post__content">
                            <h3>Mountian Hiking</h3>
                            <p>
                                There's nothing like views you get when hiking moutain's! And I wasn't even prepared for what happened whilst I was enjoyingthe view!
                            </p>
                        </div>
                    </a>
                </article>
            </li>
        </ul>
    </section>
    <section id="about">
        <h2>What I Do?</h2>
        <p>
            I love programming, I love to explore new technologies and I am on a great learning journey!!
        </p>
        <p>
            My goal is to get so good at what I love that I can find my occupation at that.
        </p>
    </section>
{% endblock %}
