{% extends "base.html" %}
{% load static %}

{% block title %}
    {{title}}
{% endblock title %}


{% block styles %}
    <link rel="stylesheet" href="{% static "blog/post-detail.css" %}">
{% endblock styles %}

{% block body %}
<section id="summary">
    <h2>{{title}}</h2>
    <article>
        <img src="{% static "blog/images/"|add:image %}" alt="{{title}}">
        <address>By {{author|title}}</address>
        <div>
            Last updated on <time> {{date|date:"d M Y"}} </time>
        </div>
        <div>
            {% for  tag in tags %}
                #{{tag.caption}}
            {% endfor %}
        </div>
    </article>
</section>
<main>
    {{content|linebreaks}}
</main>
{% endblock body%}