{% load static %}

<li>
    <article class = "post">
        <a href="{% url "post-detail-page" "the-mountains"%}">
            <img src="{% static "blog\images\mountains.jpg" %}" alt="Mountian Hiking">
            <div class = "post__content">
                <h3>Mountian Hiking</h3>
                <p>
                    There's nothing like views you get when hiking moutain's! And I wasn't even prepared for what happened whilst I was enjoyingthe view!
                </p>
            </div>
        </a>
    </article>
</li>